ion-content.white-space {
  --ion-background-color: #ff9900;
  --color: #000;
}

app-back-button {
  --ion-background-color: #ff9900;
}

.contents {
  margin-bottom: 120px;
  .container {
    width: 100%;
    h1 {
      font-size: 5vh;
      text-align: center;
    }
  }

  .gap {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .option-container {
    .user-cont {
      display: flex;
      justify-content: center;

      .circle1 {
        height: 23.5vh;

        width: 23.5vh;
        background-color: #ffe600;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          width: 15vh;
        }
        p {
          font-size: 2vh;
        }
      }
    }

    .gap {
      margin-top: 2.5vh;
      margin-bottom: 2.5vh;
    }

    .vet-cont {
      display: flex;
      justify-content: center;

      .circle2 {
        height: 23.5vh;

        width: 23.5vh;
        background-color: #00ffff;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
          width: 15vh;
        }
        p {
          font-size: 2vh;
        }
      }
    }
  }
}
