<ion-content class="white-space" [fullscreen]="true">
  <div class="container">
    <ng-container *ngIf="!isLogin; else login">
      <div class="header">
        <ng-container>
          <div class="form-profile">
            <ion-item>
              <ion-label position="stacked">Username/Email</ion-label>
              <ion-input placeholder="Masukkan Username/Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input placeholder="Masukkan Password"></ion-input>
            </ion-item>
          </div>
          <div class="form-aksi">
            <p>Belum terdaftar? Silahkan pilih "<span>Register</span>"</p>
            <button class="btn-aksi register" (click)="goRegister()">
              Register
            </button>
            <button class="btn-aksi login">Login</button>
          </div>
        </ng-container>
      </div>
      <div class="content">
        <div class="aksi-container">
          <div class="icon-aksi">
            <img src="assets/icon/Rincian-Profil.png" />
          </div>
          <p>Rincian Profile</p>
        </div>
        <div class="aksi-container">
          <div class="icon-aksi">
            <img src="assets/icon/logout.png" />
          </div>
          <p>Log Out</p>
        </div>
      </div>
    </ng-container>
    <ng-template #login>
      <div class="profile-card">
        <div class="profile-img">
          <ng-container *ngIf="!isDokter; else dokter">
            <img src="assets/icon/user.png" />
          </ng-container>
          <ng-template #dokter>
            <img src="assets/icon/dokter-female.png" />
          </ng-template>
        </div>
        <div class="item-container">
          <h1>Nama</h1>
          <div class="list-item">
            <p>Nomor Telepon:</p>
            <p>Email:</p>
            <p>Alamat:</p>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="aksi-container" (click)="goRincianProfile()">
          <div class="icon-aksi">
            <img src="assets/icon/Rincian-Profil.png" />
          </div>
          <p>Rincian Profile</p>
        </div>
        <div class="aksi-container">
          <div class="icon-aksi">
            <img src="assets/icon/logout.png" />
          </div>
          <p>Log Out</p>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>
