<ion-content class="white-space" [fullscreen]="true">
  <div class="contents">
    <div class="search-container">
      <ion-searchbar
        placeholder="Cari Nama..."
        (ionChange)="searchDoctor($event)"
      ></ion-searchbar>
    </div>
    <div class="container">
      <ng-container *ngIf="doctors">
        <ng-container *ngFor="let data of doctors">
          <ion-card>
            <div
              class="item-container"
              (click)="toServiceSelect(data.doctorId)"
            >
              <div class="docter-img">
                <ng-container *ngIf="data.gender === 'Laki-laki'; else female">
                  <img src="assets/icon/dokter-male.png" />
                </ng-container>
                <ng-template #female>
                  <img src="assets/icon/dokter-female.png" />
                </ng-template>
              </div>
              <div class="content-container">
                <div class="ingpo">
                  <h1>{{data.name}}</h1>
                  <p>Spesialis: {{data.specialization}}</p>
                  <span>Pengalaman:<strong> {{data.experience}}</strong></span>
                </div>
                <div class="dist">
                  <img
                    class="loc-icon"
                    src="../../../assets/icon/location.png"
                  />
                  <h1 class="dist-text">
                    {{data.distance || 'Calculating...'}}
                  </h1>
                </div>
              </div>
            </div>
          </ion-card>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-content>
