<ion-content class="white-space" [fullscreen]="true">
  <div class="contents">
    <div class="search-container">
      <ion-searchbar
        placeholder="Cari nama..."
        (ionChange)="searchUserName($event)"
      ></ion-searchbar>
    </div>
    <div class="container">
      <ng-container *ngIf="consultation">
        <ng-container *ngFor="let data of consultation">
          <ng-container *ngIf="data.visitType === 1; else toVetVisit">
            <ion-card>
              <div
                class="item-container"
                (click)="toRecapKonsulUV(data.consultationId)"
              >
                <div class="docter-img">
                  <ng-container
                    *ngIf="data.jenisKelamin === 'Laki-laki'; else female"
                  >
                    <img src="../../../assets/icon/user-male.png" />
                  </ng-container>
                  <ng-template #female>
                    <img src="../../../assets/icon/user.png" />
                  </ng-template>
                </div>
                <div class="content-container">
                  <h1>{{data.userName}}</h1>
                  <p>Keluhan: {{data.complaint}}</p>
                  <ion-badge
                    [ngClass]="data.visitType === 1 ? 'badge-yellow' : 'badge-blue'"
                  >
                    <p>{{data.visitType == 1 ? 'User Visit' : 'Vet Visit'}}</p>
                  </ion-badge>
                </div>
              </div>
            </ion-card>
          </ng-container>
          <ng-template #toVetVisit>
            <ion-card>
              <div
                class="item-container"
                (click)="toRecapKonsulVV(data.consultationId)"
              >
                <div class="docter-img">
                  <ng-container
                    *ngIf="data.jenisKelamin === 'Laki-laki'; else female"
                  >
                    <img src="../../../assets/icon/user-male.png" />
                  </ng-container>
                  <ng-template #female>
                    <img src="../../../assets/icon/user.png" />
                  </ng-template>
                </div>
                <div class="content-container">
                  <h1>{{data.userName}}</h1>
                  <p>Keluhan: {{data.complaint}}</p>
                  <ion-badge
                    [ngClass]="data.visitType === 1 ? 'badge-yellow' : 'badge-blue'"
                  >
                    <p>{{data.visitType == 1 ? 'User Visit' : 'Vet Visit'}}</p>
                  </ion-badge>
                </div>
              </div>
            </ion-card>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-content>
