app-header-bar {
  --ion-background-color: #ff9900;
  background-color: #ff9900;
}

app-bottom-bar {
  --ion-background-color: #ff9900;
  background-color: #ff9900;
}

ion-content.main {
  --ion-background-color: none;
}
