<!-- <app-back-button
  class="uv-livetrack-bb"
  [pageTitle]="'Powered by Google©'"
></app-back-button> -->
<app-back-button class="uv-livetrack-bb"></app-back-button>
<ion-content [fullscreen]="true" class="full-screen-content">
  <div class="contents">
    <div class="map-section">
      <ng-container *ngIf="consulStage">
        <app-map [consulStage]="consulStage"></app-map>
      </ng-container>
      <div class="info-container">
        <ng-container *ngIf="consulStage">
          <ng-container *ngFor="let data of consulStage">
            <ion-card>
              <div class="container">
                <div class="docter-img">
                  <ng-container
                    *ngIf="data.jenisKelamin === 'Laki-laki'; else female"
                  >
                    <img class="doc-prof" src="assets/icon/dokter-male.png" />
                  </ng-container>
                  <ng-template #female>
                    <img class="doc-prof" src="assets/icon/dokter-female.png" />
                  </ng-template>
                </div>
                <div class="testo">
                  <div class="content-container">
                    <h1>{{data.doctorName}}</h1>
                    <ion-badge class="badge-yellow">
                      <p>Vet Visit</p>
                    </ion-badge>
                  </div>
                  <div class="distance">
                    <span><strong>{{data.dummyJarak}}</strong></span>
                  </div>
                </div>
              </div>
            </ion-card>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
