<div class="header">
  <ion-header mode="md">
    <ion-item lines="none" mode="md" style="background: transparent">
      <div class="head-cont">
        <div class="logo-cont">
          <img src="../../../../assets/logo/header-bar/logo-1.png" />
        </div>
        <div class="side-menu-cont">
          <ion-icon class="side-menu-icon" name="menu-outline"></ion-icon>
        </div>
      </div>
    </ion-item>
  </ion-header>
</div>

<!-- <ion-fab slot="fixed" vertical="top" horizontal="end">
  <ion-fab-button class="login-btn">
    <p>{{ "Login" }}</p>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button class="logout-btn" color="danger">
      <p>LOG OUT</p>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab> -->
