<ion-content class="white-space" [fullscreen]="true">
  <div class="contents">
    <div class="bb-icon">
      <app-back-button [pageTitle]="'Rincian Konsultasi'"></app-back-button>
    </div>
    <div class="form-type">
      <ion-badge class="form-title">
        <ion-text>User Visit</ion-text>
      </ion-badge>
    </div>
    <div class="form-body">
      <div class="input-tile">
        <ng-container *ngFor="let data of test">
          <ion-item>
            <ion-label position="stacked">Nama</ion-label>
            <ion-input disabled [(ngModel)]="data.namaP"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nomor yang bisa dihubungi</ion-label>
            <ion-input disabled [(ngModel)]="data.noTel"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Deskripsi Keluhan</ion-label>
            <ion-textarea
              disabled
              [(ngModel)]="data.deskripsiKeluhan"
            ></ion-textarea>
          </ion-item>
        </ng-container>
      </div>
    </div>
    <div class="bottom-gap"></div>
  </div>
</ion-content>
