/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

:root {
  --color-orange: #ff9900;
  --color-yellow: #ffe600;
  --color-blue: #203189;
  --color-blue-light: #00ffff;
}
