ion-content.white-space {
  --ion-background-color: #fff;
  --color: #000;
}

.contents {
  margin-top: 68px;
  margin-bottom: 108px;

  .container {
    ion-card {
      box-shadow: 0px 2px 12px 0px rgb(151 151 151 / 50%);
      padding: 10px;

      .item-container {
        display: flex;
        align-items: center;
        gap: 20px;

        .docter-img {
          padding: 1vh;
          background-color: var(--ion-color-primary);
          border-radius: 100%;

          img {
            min-width: 50px;
            width: 50px;
          }
        }

        .content-container {
          color: #000;
          font-size: 14px;
          width: 100%;
          line-break: anywhere;
          word-wrap: break-word;
          text-overflow: ellipsis;

          h1 {
            margin: 2px 0;
            font-size: 16px;
            font-weight: 600;
          }

          ion-badge.badge-yellow {
            background: #ffe600;
            p {
              margin: 0;
              font-weight: 400;
              color: #000;
            }
          }
          ion-badge.badge-blue {
            background: #00ffff;
            p {
              margin: 0;
              font-weight: 400;
              color: #000;
            }
          }
        }

        .status-cont {
          ion-badge {
            padding: 10px;
            border-radius: 10px;
            white-space: normal; /* Allow line breaks */
            word-wrap: break-word; /* Ensure long words break */
            min-width: 95px;
            max-width: 130px;

            ion-text {
              white-space: normal; /* Allow line breaks */
              word-wrap: break-word; /* Ensure long words break */
            }

            &.stat-badge-yellow {
              --background: #ffe600;

              ion-text.status-text-hitam {
                color: #000;
              }
              ion-text.status-text-putih {
                color: #fff;
              }
            }
            &.stat-badge-ijo {
              --background: #23e712;

              ion-text.status-text-hitam {
                color: #000;
              }
              ion-text.status-text-putih {
                color: #fff;
              }
            }
            &.stat-badge-blue {
              --background: #8791e5;

              ion-text.status-text-hitam {
                color: #000;
              }
              ion-text.status-text-putih {
                color: #fff;
              }
            }
            &.stat-badge-none {
              --background: #8791e5;
              opacity: 0;

              ion-text.status-text-hitam {
                color: #000;
                opacity: 0;
              }
              ion-text.status-text-putih {
                color: #fff;
                opacity: 0;
              }
            }
          }
        }

        .rate {
          display: flex;
          align-items: center;
          gap: 2px;

          img {
            width: 7.5px;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
