<ion-content class="white-space" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="contents">
    <div class="search-container">
      <ion-searchbar
        placeholder="Cari nama..."
        (ionChange)="searchDoctorName($event)"
      ></ion-searchbar>
    </div>
    <ng-container *ngIf="!isLoading; else loading">
      <div class="container">
        <ng-container *ngIf="consultation?.length > 0; else noData">
          <ng-container *ngFor="let data of consultation">
            <ng-container *ngIf="data.visitType === 1; else toVetVisit">
              <ion-card>
                <div
                  class="item-container"
                  (click)="toRecapKonsulUV(data.consultationId)"
                >
                  <div class="docter-img">
                    <ng-container
                      *ngIf="data.jenisKelamin === 'Laki-laki'; else female"
                    >
                      <img src="assets/icon/dokter-male.png" />
                    </ng-container>
                    <ng-template #female>
                      <img src="assets/icon/dokter-female.png" />
                    </ng-template>
                  </div>
                  <div class="content-container">
                    <h1>{{data.doctorName}}</h1>
                    <p>Keluhan: {{data.complaint}}</p>
                    <ion-badge
                      [ngClass]="data.visitType === 1 ? 'badge-yellow' : 'badge-blue'"
                    >
                      <p>
                        {{data.visitType == 1 ? 'User Visit' : 'Vet Visit'}}
                      </p>
                    </ion-badge>
                  </div>

                  <div class="status-cont">
                    <ion-badge
                      [ngClass]="data.stageStatus === 0 ? 'stat-badge-yellow' : data.stageStatus === 1 ? 'stat-badge-blue' :  data.stageStatus === 2 ? 'stat-badge-ijo' : data.stageStatus === 3 ? 'stat-badge-ijo' : 'stat-badge-red'"
                    >
                      <ion-text
                        [ngClass]="data.stageStatus === 0 ? 'status-text-hitam' : data.stageStatus === 1 ? 'status-text-putih' :  data.stageStatus === 2 ? 'status-text-hitam' :data.stageStatus === 3 ? 'status-text-hitam' : 'status-text-putih'"
                        >{{data.stageStatus === 0 ? 'Menunggu konfirmasi dokter'
                        : data.stageStatus === 1 ? 'Menunggu konsultasi' :
                        data.stageStatus === 2 ? 'Menunggu pembayaran' :
                        data.stageStatus === 3 ? 'Selesai' : 'Konsultasi
                        Gagal'}}</ion-text
                      >
                    </ion-badge>
                  </div>
                </div>
              </ion-card>
            </ng-container>
            <ng-template #toVetVisit>
              <ion-card>
                <div
                  class="item-container"
                  (click)="toRecapKonsulVV(data.consultationId)"
                >
                  <div class="docter-img">
                    <ng-container
                      *ngIf="data.jenisKelamin === 'Laki-laki'; else female"
                    >
                      <img src="assets/icon/dokter-male.png" />
                    </ng-container>
                    <ng-template #female>
                      <img src="assets/icon/dokter-female.png" />
                    </ng-template>
                  </div>
                  <div class="content-container">
                    <h1>{{data.doctorName}}</h1>
                    <p>Keluhan: {{data.complaint}}</p>
                    <ion-badge
                      [ngClass]="data.visitType === 1 ? 'badge-yellow' : 'badge-blue'"
                    >
                      <p>
                        {{data.visitType == 1 ? 'User Visit' : 'Vet Visit'}}
                      </p>
                    </ion-badge>
                  </div>

                  <div class="status-cont">
                    <ion-badge
                      [ngClass]="data.stageStatus === 0 ? 'stat-badge-yellow' : data.stageStatus === 1 ? 'stat-badge-blue' :  data.stageStatus === 2 ? 'stat-badge-ijo' : data.stageStatus === 3 ? 'stat-badge-ijo' : 'stat-badge-red'"
                    >
                      <ion-text
                        [ngClass]="data.stageStatus === 0 ? 'status-text-hitam' : data.stageStatus === 1 ? 'status-text-putih' :  data.stageStatus === 2 ? 'status-text-hitam' :data.stageStatus === 3 ? 'status-text-hitam' : 'status-text-putih'"
                        >{{data.stageStatus === 0 ? 'Menunggu konfirmasi dokter'
                        : data.stageStatus === 1 ? 'Menunggu konsultasi' :
                        data.stageStatus === 2 ? 'Menunggu pembayaran' :
                        data.stageStatus === 3 ? 'Selesai' : 'Konsultasi
                        Gagal'}}</ion-text
                      >
                    </ion-badge>
                  </div>
                </div>
              </ion-card>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="loading-overlay">
        <div class="spinner"></div>
      </div>
    </ng-template>
    <ng-template #noData>
      <div class="content">
        <div class="no-data-text">Tidak ada data riwayat konsultasi</div>
      </div>
    </ng-template>
  </div>
</ion-content>
