ion-footer {
  position: fixed;
  bottom: 0;
  background-color: #ff9900;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 1000;
  // border-top-right-radius: 100px;
  // border-top-left-radius: 100px;
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    .bot-cont {
      display: flex;
      position: relative;
      width: 100%;
      margin: 20px;
      margin-top: 0;
      align-items: end;
      justify-content: center;
      button {
        background-color: var(--ion-color-primary);
        width: 60px;
      }
      .home-cont {
        margin-right: 20px;
        margin-left: 20px;
        justify-content: center;
        align-items: center;

        .menu-icon {
          display: flex;
          justify-content: center;

          img {
            width: 35px;
            height: 35px;
          }
        }
        .icon-desc {
          .logo-info {
            font-size: 15px;
            color: #fff;
          }
        }
      }
      .note-cont {
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        .menu-icon {
          display: flex;
          justify-content: center;

          img {
            width: 35px;
            height: 35px;
          }
        }
        .icon-desc {
          .logo-info {
            font-size: 15px;
            color: #fff;
          }
        }
      }
      .profile-cont {
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        .menu-icon {
          display: flex;
          justify-content: center;

          img {
            width: 35px;
            height: 35px;
            margin-left: 5.5px;
          }
        }
        .icon-desc {
          .logo-info {
            font-size: 15px;
            color: #fff;
          }
        }
      }
      .gap {
        padding: 5px;
      }
      .side-menu-cont {
        .side-menu-icon {
          font-size: 40px;
          display: flex;
          position: absolute;
          top: 50%;
          right: 0px;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.active,
.inactive {
  height: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
  transform-origin: center; /* Ensure the scale transformation happens from the center */
}

.active {
  transform: scaleX(1); /* Scale to full width when active */
}

.inactive {
  transform: scaleX(0); /* Scale to zero width when inactive */
}
