<ion-footer>
  <ion-item lines="none">
    <div class="bot-cont">
      <div class="home-cont">
        <div class="menu-icon">
          <img src="../../../../assets/logo/bottom-bar/Icon Home.png" />
        </div>
        <div class="icon-desc">
          <label class="logo-info">Home</label>
        </div>
      </div>
      <div class="gap"></div>
      <div class="note-cont">
        <div class="menu-icon">
          <img src="../../../../assets/logo/bottom-bar/Icon Catatan.png" />
        </div>
        <div class="icon-desc">
          <label class="logo-info">Catatan</label>
        </div>
      </div>
      <div class="gap"></div>
      <div class="profile-cont">
        <div class="menu-icon">
          <img src="../../../../assets/logo/bottom-bar/Icon Profil.png" />
        </div>
        <div class="icon-desc">
          <label class="logo-info">Profil</label>
        </div>
      </div>
    </div>
  </ion-item>
</ion-footer>
