<ion-footer>
  <ion-item lines="none">
    <div class="bot-cont">
      <button (click)="setActive(0)" class="home-cont">
        <div *ngIf="isActive === 0" class="active"></div>
        <div class="menu-icon">
          <img src="../../../../assets/logo/bottom-bar/Icon Home.png" />
        </div>
        <div class="icon-desc">
          <label class="logo-info">Home</label>
        </div>
      </button>
      <div class="gap"></div>
      <button (click)="setActive(1)" class="note-cont">
        <div *ngIf="isActive === 1" class="active"></div>
        <div class="menu-icon">
          <img src="../../../../assets/logo/bottom-bar/Icon Catatan.png" />
        </div>
        <div class="icon-desc">
          <label class="logo-info">Catatan</label>
        </div>
      </button>
      <div class="gap"></div>
      <button (click)="setActive(2)" class="profile-cont">
        <div *ngIf="isActive === 2" class="active"></div>
        <div class="menu-icon">
          <img src="../../../../assets/logo/bottom-bar/Icon Profil.png" />
        </div>
        <div class="icon-desc">
          <label class="logo-info">Profil</label>
        </div>
      </button>
    </div>
  </ion-item>
</ion-footer>
