<ion-footer>
  <ion-item lines="none">
    <div class="bot-cont">
      <button (click)="setActive(0)" class="home-cont">
        <div *ngIf="isActive === 0" class="active"></div>
        <div class="menu-icon">
          <ng-container *ngIf="isActive === 0; else notSelected" class="active">
            <img
              src="../../../../assets/logo/bottom-bar/selected/Icon Home.png"
            />
          </ng-container>
          <ng-template #notSelected>
            <img src="../../../../assets/logo/bottom-bar/Icon Home.png" />
          </ng-template>
        </div>
        <div class="icon-desc">
          <label class="logo-info">Home</label>
        </div>
      </button>
      <div class="gap"></div>
      <button (click)="setActive(1)" class="note-cont">
        <div *ngIf="isActive === 1" class="active"></div>
        <div class="menu-icon">
          <ng-container
            *ngIf="isActive === 1; else notSelected1"
            class="active"
          >
            <img
              src="../../../../assets/logo/bottom-bar/selected/Icon Notes.png"
            />
          </ng-container>
          <ng-template #notSelected1>
            <img src="../../../../assets/logo/bottom-bar/Icon Catatan.png" />
          </ng-template>
        </div>

        <div class="icon-desc">
          <label class="logo-info">Catatan</label>
        </div>
      </button>
      <div class="gap"></div>
      <button (click)="setActive(2)" class="profile-cont">
        <div *ngIf="isActive === 2" class="active"></div>
        <div class="menu-icon">
          <ng-container
            *ngIf="isActive === 2; else notSelected2"
            class="active"
          >
            <img
              src="../../../../assets/logo/bottom-bar/selected/Icon Profil.png"
            />
          </ng-container>
          <ng-template #notSelected2>
            <img src="../../../../assets/logo/bottom-bar/Icon Profil.png" />
          </ng-template>
        </div>
        <div class="icon-desc">
          <label class="logo-info">Profil</label>
        </div>
      </button>
    </div>
  </ion-item>
</ion-footer>
