<!-- uv-live-tracking.page.html -->
<ion-content [fullscreen]="true" class="full-screen-content">
  <div class="contents">
    <div class="map-section">
      <app-map
        (updateDistanceAndDuration)="updateDistanceAndDuration($event.distance, $event.duration)"
      ></app-map>
      <div class="info-container">
        <ng-container *ngIf="dataDokter">
          <ng-container *ngFor="let data of dataDokter">
            <ion-card>
              <div class="container">
                <div class="docter-img">
                  <ng-container
                    *ngIf="data.jenisKelamin === 'Laki-laki'; else female"
                  >
                    <img class="doc-prof" src="assets/icon/dokter-male.png" />
                  </ng-container>
                  <ng-template #female>
                    <img class="doc-prof" src="assets/icon/dokter-female.png" />
                  </ng-template>
                </div>
                <div class="testo">
                  <div class="content-container">
                    <h1>{{data.nama}}</h1>
                    <ion-badge class="badge-yellow">
                      <p>User Visit</p>
                    </ion-badge>
                    <ion-buttons slot="end">
                      <ion-button>
                        <ion-icon name="location"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </div>
                  <div class="distance">
                    <span><strong>{{data.dummyJarak}}</strong></span>
                    <span><strong>{{data.dummyDuration}}</strong></span>
                  </div>
                </div>
              </div>
            </ion-card>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
